
#bgimg{
    height: 100%;
    width: 100%;
    position: static;
    display: flex;
}

#logo{
    position: absolute;
    left: 25%;
    top: 50px;
    height: 50px;
    transform: translate(-50%, -50%);

}

#Signin{
    color: white;
    text-align: center;
    border-radius: 4px;
    background-color: red;
    margin-top: 50px;
    width: 235px;
    height: 35px;
}
p{
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Times New Roman', Times, serif;
}

#sign-incode{
    width: 50px;
    color: white;
    background-color:  rgba(255, 255, 255, 0.233);
    width: 240px;
    height: 30px;
    margin-top: 13px;
    border-radius: 5px;
}
.loginbar{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 4px;
    margin-top: 40px;
    padding: 70px;
    width: 250px;
    height: 400px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.836);
    color: white;
    
} 

h2{
    color: white;
    margin-bottom: 20px;   
}

#insert{
    margin-top: 18px;
    height: 30px;
    width: 230px;   
    background-color: rgba(33, 32, 32, 0.795); 
    color: grey;
    border-radius: 5px; 
}





